h1{
    color: red;
    font-size: 100px;
}
img:hover{
    background-color: gold;
}
.bacon{
    background-color: green;
}
.broccoli{
    background-color: red;
    border-radius: 50%;
    padding: 5px;
}