body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  margin-top:0;
}
.top-container{
  background-color: aliceblue;
  position: relative;
  padding-top: 100px;
}
#me{
  width: 200px;
  height: 250px;
  border-radius: 50%;
}
.middle-container{

}
.bottom-container{
 
}
#bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
#top_cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.penguin,.www {
  display:block;
  width: 200px;
  height: 200px;
  position: relative;
  left: 44%;
}